@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);
    --light-gray:hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
    background-color: var(--light-grayish-blue);
}

header {
	display: flex;
}

span {
	color: hsla(0, 0%, 100%, 0.5);
}

.name {
	line-height: 0%;
	color: var(--light-gray);
	padding-left: 1rem;
}

.photo {
	border-radius: 50%;
}

.quote {
	color: hsla(0, 0%, 100%, 0.3);
	line-height: 1.5;
}

.feedback {
	border-radius: 10px;
    padding: 2em;
	margin: 3rem 1rem 2rem 1rem;
}

.bold-text {
	font-size: 20px;
	font-weight: 600;
	color: var(--white);
}



.first-col {
	background-color: var(--moderate-violet);
	grid-area: first-col;
}

.second-col{
    background-color: var(--very-dark-grayish-blue);
	grid-area: second-col;
}

.third-col{
	grid-area: third-col;
}

.third-col, .fifth-col{
    background-color: var(--white);
}

.third-col h4, .fifth-col h4, .third-col .bold-text, .fourth-col, .fifth-col .bold-text {
    color: var(--very-dark-grayish-blue);
	
}


.third-col span, .fifth-col span, .third-col .quote, .fifth-col .quote{
    color: var(--light-gray);
}


.fourth-col{
    background-color: var(--very-dark-blackish-blue);
	grid-area: fourth-col;
}

.fourth-col .photo{
    border: 2px solid var(--moderate-violet);
}

.fifth-col{
	grid-area: fifth-col;
}

@media only screen and (min-width: 1440px){
	.container{
		display: grid;
		grid-template-columns: repeat(4, minmax(200px,auto ));
		grid-template-rows: repeat(2,minmax(200px,auto));
		grid-template-areas: 
		"first-col first-col second-col fifth-col"
		"third-col fourth-col fourth-col fifth-col ";

		margin: 5rem;
	}



}